<html>
  <head>
    <title>Anigram - Anagram Animations</title>
    <style type="text/css">
      h1, p {
        color: #555;
        text-align: right;
      }

      a {
        color: #555;
      }

      .appname {
        color: #000;
      }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="/raphael.js"></script>
    <script src="/app.js"></script>
    <script lang="javascript">
      $(function() {
        anigram("<%= @phrase %>", "<%= @anagram %>");
      });
    </script>
  </head>
  <body>
    <h1><span class="appname">Anigram</span></h1>
    <p>A weekend project by <a href="http://twitter.com/benatkin">@benatkin</a>.</p>
    <p>Need ideas? Try the <a href="http://wordsmith.org/anagram/index.html">Internet Anagram Server</a>.</p>
    <p><a href="http://github.com/benatkin/anigram">Made</a> with <a href="http://raphaeljs.com/">raphael.js</a>.
  </body>
</html>
